#wrapper {
  position: absolute;
  background-color: black;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  -webkit-app-region: no-drag;
  border: 1.5px solid black;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #c2c2c2;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #585858;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fadeIn {
  -webkit-animation: fadein 2s ease-out;
}

.loading-spinner {
  font-size: 2.5em;
  margin-top: 25px;
}
