body {
  font-family: 'Ubuntu', sans-serif !important;
}

.tab {
  width: 14%;
}

.tab a {
  margin: auto;
  text-align: center;
}

.main-header {
  margin: auto;
  text-align: center;
}

/*#dropdownMenu1 {
  border: none;
}*/

.error-message {
  width: 70%;
  margin: auto;
}

#view-header {
  margin-left: 8%;
  margin-top: 0px;
  margin-bottom: 20px;
}

pre {
  background: #2e3338 !important;
  border: none !important;
  padding: 0 !important;
}
code {
  background: #2e3338 !important;
  padding: 0 !important;
}

#fileView {
  white-space: nowrap;
}

#fileTree {
  vertical-align: top;
  display: inline-block;
  min-width: 10%;
  margin-left: 8%;
}

#fileContents {
  vertical-align: top;
  display: inline-block;
  min-width: 70%;
  margin-left: 2%;
}

.backgroundDiv:hover {
  background-color: #3a3f46 !important;
}

.backgroundDiv:active {
  color: #aaaaaa;
}

tr:hover {
  background-color: #23262a
}

h1 {
  display: inline-block;
  width: 40%;
  /*border-bottom: 1px solid #aaa;*/
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;

  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #fff;
}

#view-btn {
  color: white;
  background-color: #e6d100;
  border: 2px solid #ccbb00;
}

#connect-btn {
  color: white;
  background-color: #06e00b;
  border: 2px solid #05c70a;
}

#broadcast-btn {
  color: white;
  background-color: #1ac8ff;
  border: 2px solid #00afe6;
}

#view-btn:hover {
  background-color: #ccbb00;
}

#view-btn:active {
  border: 2px solid #998c00;
}

#connect-btn:hover {
  background-color: #05c70a;
}

#connect-btn:active {
  border: 2px solid #049508;
}

#broadcast-btn:hover {
  background-color: #00afe6;
}

#broadcast-btn:active {
  border: 2px solid #007499;
}

table {
  width: 95%;
  margin: auto;
}

th {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  text-align: left;
}

td {
  border-bottom: 1px solid #777;
  padding: 15px;
  text-align: left;
}
