<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Connect to Remote Repository</title>

    <link rel="stylesheet" href="../../dependencies/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../dependencies/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/popups.css">

    <script>window.$ = window.jQuery = require('../../dependencies/jquery-2.1.4.js');</script>
    <script src="../../dependencies/bootstrap/js/bootstrap.min.js"></script>
    <script>require('../javascripts/connect/connect.js')</script>

  </head>
  <body>
  <div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-folder-open-o"></span> Connect</h1>

        <!-- show any messages that come back with connecting -->
        <div id="messages" class="error-message alert alert-danger" style="display: none"></div>

        <!-- connect form -->
        <div>
          <form id='connect'>
            <div class="form-group">
                <label>Owner</label>
                <input type="text" class="form-control" name="owner" autofocus="autofocus">
            </div>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="name">
            </div>
          </form>
          <button id="submitconnect" class="btn btn-warning btn-lg">Connect</button>
          <button id="closeconnect" class="btn btn-danger btn-lg">Cancel</button>
        </div>

    </div>

  </div>
  </body>
</html>
