<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>File Viewer</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.3.2/cyborg/bootstrap.min.css"/> -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/styles/default.min.css">

    <script>window.$ = window.jQuery = require('../../dependencies/jquery-2.1.4.js');</script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script>require('../javascripts/index/index.js')</script>
    <script>require('../javascripts/index/connect-repo.js')</script>
    <script>require('../javascripts/index/broadcast-repo.js')</script>
    <!-- <script>require('../javascripts/index/view-repo.js')</script> -->

    <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js"></script>

  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-md-offset-5" id="signinMessage">
          Not Signed In
        </div>
        <div class="col-md-4">
          <div class="dropdown pull-right loginsignup">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Log In / Sign Up <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a id="login" href="javascript:void(0);">Log In</a></li>
              <li><a id="signup" href="javascript:void(0);">Sign Up</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <!-- Nav tabs -->
          <ul class="nav nav-pills nav-stacked" role="tablist">
            <li role="presentation" class="active"><a href="#view" aria-controls="view" role="tab" data-toggle="tab">View</a></li>
            <li role="presentation"><a href="#connect" aria-controls="connect" role="tab" data-toggle="tab">Connect</a></li>
            <li role="presentation"><a href="#broadcast" aria-controls="broadcast" role="tab" data-toggle="tab">Broadcast</a></li>
          </ul>
        </div>
        <div class="col-md-9">
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="view">
              <button id="view-btn" class="btn btn-primary">View</button>

              <h1 class="page-header" id="view-header"></h1>

              <div id="viewingRepos"></div>

            </div>


            <div role="tabpanel" class="tab-pane" id="connect">
              <div row>
                <div class="col-md-9 col-md-offset-1">
                  <h1 class="page-header">Connected Repositories</h1>
                </div>
                <div class="col-md-1">
                  <button id="connect-btn" class="btn btn-primary">Connect</button>
                </div>
              </div>
              <div id="connectedRepos"></div>
            </div>


            <div role="tabpanel" class="tab-pane" id="broadcast">
              <div row>
                <div class="col-md-9 col-md-offset-1">
                  <h1 class="page-header">Broadcasting Repositories</h1>
                </div>
                <div class="col-md-1">
                  <button id="broadcast-btn" class="btn btn-primary">Broadcast</button>
                </div>
              </div>
              <div id="broadcastingRepos"></div>
            </div>
          </div>
        </div>
      </div>


    </div>

    <script src="http://localhost:8080/webpack-dev-server.js"></script>
    <script src="http://localhost:8080/built/bundle.js"></script>

  </body>
</html>
