<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CodeMirror</title>

    <link rel="stylesheet" href="../../dependencies/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../dependencies/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../dependencies/highlight/styles/tomorrow-night-bright.css">
    <link rel="stylesheet" href="../css/index.css">

    <script>window.$ = window.jQuery = require('../../dependencies/jquery-2.1.4.js');</script>
    <script src="../../dependencies/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../dependencies/highlight/highlight.pack.js"></script>
    <script src="http://52.34.2.212:3000/socket.io/socket.io.js"></script>
    <script>require('../javascripts/index/index.js')</script>
    <script>require('../javascripts/index/connect-repo.js')</script>
    <script>require('../javascripts/index/broadcast-repo.js')</script>
    <!-- <script>require('../javascripts/index/view-repo.js')</script> -->

  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <!-- Nav tabs -->
          <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="active tab" id="view-tab"><a href="#view" aria-controls="view" role="tab" data-toggle="tab">View</a></li>
            <li role="presentation" class="tab" id="connect-tab"><a href="#connect" aria-controls="connect" role="tab" data-toggle="tab">Connect</a></li>
            <li role="presentation" class="tab" id="broadcast-tab"><a href="#broadcast" aria-controls="broadcast" role="tab" data-toggle="tab">Broadcast</a></li>
          </ul>
        </div>

        <div class="col-md-4">
          <div class="dropdown pull-right loginsignup">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Log In / Sign Up <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a id="login" href="javascript:void(0);">Log In</a></li>
              <li><a id="signup" href="javascript:void(0);">Sign Up</a></li>
            </ul>
          </div>
        </div>

      </div>


      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="view">
          <div class="main-header">
            <h1 id="view-btn">View a Repository</h1>
          </div>
          <div id="view-messages" class="error-message alert alert-danger" style="display: none"></div>
          <h2 id="view-header"></h2>
          <div id="viewingRepos"></div>
        </div>


        <div role="tabpanel" class="tab-pane" id="connect">
          <div class="main-header">
            <h1 id="connect-btn">Connect to a Repository</h1>
          </div>
          <div id="connect-messages" class="error-message alert alert-danger" style="display: none"></div>

          <table>
            <thead>
              <tr>
                <th width="20%">Name</th>
                <th width="20%">Owner</th>
                <th width="40%">Storing To</th>
                <th width="20%">Stop Connecting?</th>
              </tr>
            </thead>

            <tbody id="connectedRepos">

            </tbody>

          </table>

        </div>


        <div role="tabpanel" class="tab-pane" id="broadcast">
          <div class="main-header">
            <h1 id="broadcast-btn">Broadcast a Repository</h1>
          </div>
          <div id="broadcast-messages" class="error-message alert alert-danger" style="display: none"></div>

          <table>
            <thead>
              <tr>
                <th width="80%">Name</th>
                <th width="20%">Stop Broadcasting?</th>
              </tr>
            </thead>

            <tbody id="broadcastingRepos">

            </tbody>

          </table>

        </div>
      </div>


    </div>

    <script src="http://localhost:8080/webpack-dev-server.js"></script>
    <script src="http://localhost:8080/built/bundle.js"></script>

  </body>
</html>
