<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>

    <link rel="stylesheet" href="../../dependencies/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../dependencies/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/popups.css">

    <script>window.$ = window.jQuery = require('../../dependencies/jquery-2.1.4.js');</script>
    <script src="../../dependencies/bootstrap/js/bootstrap.min.js"></script>
    <script>require('../javascripts/signup/signup.js')</script>

  </head>
  <body>
  <div class="container">
    <div id="window">
      <div>Sign Up</div>
    </div>

    <div id="main-container" class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Signup</h1>

        <!-- show any messages that come back with authentication -->
        <div id="messages" class="error-message alert alert-danger" style="display: none"></div>

        <!-- signup form -->
        <div>
          <form id='signup' action="http://52.34.2.212/signup" method="post">
          <!-- <form id='signup' action="http://localhost:3000/signup" method="post"> -->
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" name="username" autofocus="autofocus">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>
          </form>
          <button id="submitsignup" class="btn btn-warning btn-lg">Signup</button>
          <button id="closesignup" class="btn btn-danger btn-lg">Cancel</button>
        </div>

    </div>

  </div>
  </body>
</html>
